

<ion-content>
  <div class="ion-text-center ion-margin-top">
    <h1 class="timetext">{{ currentTime }}</h1>
  </div>
  <h1 class="text">Hello {{username}}!</h1>


  <ion-card>
    <ion-card-content>
      <h2>Plant 1</h2>
     <h3>
      This is sample text content. Lorem, 
        ipsum dolor sit amet consectetur adipisicing elit. 
        Ab cumque nemo facere id aut ut perferendis alias dolorum tenetur quo! 
     </h3>
    </ion-card-content>
  </ion-card>

  <ion-card class="plant2">
    <ion-card-content>
      <h2>Plant 1</h2>
     <h3>
      This is sample text content. Lorem, 
        ipsum dolor sit amet consectetur adipisicing elit. 
        Ab cumque nemo facere id aut ut perferendis alias dolorum tenetur quo! 
     </h3>

    </ion-card-content>
  </ion-card>
  <ion-card class="plant3">
    <ion-card-content>
      <h2>Plant 1</h2>
     <h3>
      This is sample text content. Lorem, 
        ipsum dolor sit amet consectetur adipisicing elit. 
        Ab cumque nemo facere id aut ut perferendis alias dolorum tenetur quo! 
     </h3>

    </ion-card-content>
  </ion-card>



 

  <ion-tabs tabsPlacement="bottom">
    <ion-router-outlet></ion-router-outlet>
    <ion-tab-bar slot="bottom" sticky="true">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button (click)="profile()" tab="profile">
        <ion-icon name="person"></ion-icon>
        Profile
      </ion-tab-button>
      <ion-tab-button (click)="settings()" tab="settings">
        <ion-icon name="settings"></ion-icon>
        Settings
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  
</ion-content>
