

<ion-content>
  <div class="ion-text-center">
    <h1 class="timetext">{{ currentTime }}</h1>
  <h1 class="text">Welcome</h1>
  <h1 class ="text">{{fName}}</h1>
</div>

  <ion-tabs tabsPlacement="bottom">
    <ion-router-outlet></ion-router-outlet>
    <ion-tab-bar slot="bottom" sticky="true">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button (click)="profile()" tab="profile">
        <ion-icon name="person"></ion-icon>
        Profile
      </ion-tab-button>
      <ion-tab-button (click)="settings()" tab="settings">
        <ion-icon name="settings"></ion-icon>
        Settings
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  
</ion-content>
