ion-content {
    //--background: linear-gradient(180deg, #4F9B24 25%, #fff 75%);
    --background: none;
    background-image: url('/assets/images/login.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
h1{
    color: #5D9C59;
    margin-top: 15%;
    margin-left: 10px;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    font-family: cursive;
}
h3{
  color: black;
  margin-left: 10px;
  font-weight: 600;
}

.div-info{
  margin-top: 15%;
  height: 50px;
  position: relative;
}


ion-input{
  text-indent: 10px;
color: #000000;
border: 1px solid black;
height: 50px;
margin-bottom: 5px;
width: 300px;
margin-left: 35PX;
background-color: rgba(246, 246, 246, 0.497);
border-radius: 10px;
}


.loginbtn{

  --background: #da8a36;
  --background-activated: #93e9be;
  --border-radius: 20px;
  --border-color: #da8a36;
  --border-style: solid;
  --border-width: 1px;
  --padding-top: 10px;
  --padding-bottom: 10px;

 
}

.signupbtn{
  --background: #b3afab;
  --background-activated: #93e9be;
  --border-radius: 20px;
  --border-color: #b3afab;
  --border-style: solid;
  --border-width: 1px;
  --padding-top: 10px;
  --padding-bottom: 10px;
}

ion-button {
  margin-left: 60px;
  margin-bottom: 10px;
  width: 250px;
  height: 40px;
}



