

<ion-content>
  <h1>Create Account!</h1>
  <h3>Sign up to get start</h3>
  <h1 class="appName">E - Tanim</h1>
  <div class="div-info">
      
      <ion-input placeholder="Username:"></ion-input>
      <ion-input placeholder="Email:" type="Email"></ion-input>
      <ion-input placeholder="Password:" type="Password"></ion-input>
       <ion-button expand="block" (click)="signUp()">Sign Up</ion-button>
      <ion-button expand="block" (click)="logIn()"color="light">Log In</ion-button>
      
  </div>
</ion-content>
