<ion-content [fullscreen]="true">
  <h1>Create Account!</h1>
  <h3>Sign up to get start</h3>
  <div class="div-info">
      
    <ion-input placeholder="Username" [(ngModel)]="username"></ion-input>
    <ion-input placeholder="Password:" type="Password"[(ngModel)]="password"></ion-input>
    <ion-input placeholder="Confirm Password:" type="Password"[(ngModel)]="confirmPassword"></ion-input>
    <ion-button class="loginbtn"  (click)="signUp()">Sign Up</ion-button>
    <ion-button class="signupbtn" (click)="logIn()">Log In</ion-button> 
  </div>
</ion-content>