ion-content {
    //--background: linear-gradient(180deg, #4F9B24 25%, #fff 75%);
    --background: none;
    background-image: url('/assets/images/profile.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  img{
    width: 50px;
    height: 50px;
  }
 .profile{
    width: 120px; 
    height: 120px;
    border-radius: 50%;
  }

.upload{
  --background: #b3afab;
  --background-activated: #93e9be;
  --border-radius: 20px;
  --border-color: #b3afab;
  --border-style: solid;
  --border-width: 1px;
  --padding-top: 8px;
  --padding-bottom: 8px;
}

ion-item{
  margin-left: 20%;
  margin-top: 5px;
  --background: rgba(255, 255, 255, 0);
  width: 220px;
}


.edit{
  margin-top: 3%;
  --background: #b3afab;
  --background-activated: #93e9be;
  --border-radius: 20px;
  --border-color: #b3afab;
  --border-style: solid;
  --border-width: 1px;
  --padding-top: 8px;
  --padding-bottom: 8px;
}

ion-input{
  color: rgb(27, 88, 3);
  font-style: bold;

}
  