ion-content {
    //--background: linear-gradient(180deg, #4F9B24 25%, #fff 75%);
    --background: none;
    background-image: url('/assets/images/profile.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  img{
    width: 50px;
    height: 50px;
  }
 .profile{
    width: 165px; 
    height: 165px;
    margin-left: 30%;
    margin-top: 30%;
    border-radius: 50%;
  }

.upload{
  width: 200px;
  margin-left: 26%;
  --background: #96f0a8;
  --background-activated:#a3f173;
  --border-radius: 20px;
  --border-color: #96f0a8;
  --border-style: solid;
  --border-width: 1px;
  --padding-top: 10px;
  --padding-bottom: 10px;
}

ion-item{
  margin-left: 20%;
  margin-top: 20px;
  --background: rgba(255, 255, 255, 0);
  width: 220px;
}

.info{
  margin-left: 5px;
}

.edit{
  width: 200px;
  margin-left: 26%;
  margin-top: 15px;
  --background: #96f0a8;
  --background-activated:#a3f173;
  --border-radius: 20px;
  --border-color: #96f0a8;
  --border-style: solid;
  --border-width: 1px;
  --padding-top: 10px;
  --padding-bottom: 10px;
}

ion-input{
  color: rgb(27, 88, 3);
  font-style: bold;

}
  