

<ion-content>


    <div id="profile-image-container" class="container ion-text-center" >
      <img class="profile" src="{{getProfile}}"/>
    </div>
    
  

  <ion-tabs>
    <ion-router-outlet></ion-router-outlet>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon (click) = "main()" name="home"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-icon name="person"></ion-icon>
        Profile
      </ion-tab-button>
      <ion-tab-button (click) = "settings()" tab="settings">
        <ion-icon name="settings"></ion-icon>
        Settings
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <div class="container ion-text-center">

  <ion-button class="upload" (click) = "takePhoto()">Upload Profile</ion-button>
  
  <ion-item class="ion-text-center">
    <img src="./assets/icon/user.png" />
   <ion-input class="info" type="name"[(ngModel)]="newfName"></ion-input>
 </ion-item>
   
<br>

<ion-item class="ion-text-center">
  <img src="./assets/icon/user.png" />
 <ion-input class="info" type="name"[(ngModel)]="newlName"></ion-input>
</ion-item>
 
<br>

  <ion-item class="ion-text-center">
    <img src="./assets/icon/telephone.png" />
   <ion-input class="info" type="number"[(ngModel)]="newpNumber"></ion-input>
 </ion-item>
   
<br>

  <ion-item class="ion-text-center">
    <img src="./assets/icon/id-card.png" />
    <ion-input class="info"  disabled="true" [(ngModel)]="username" ></ion-input>
  </ion-item>
   
<br>

  <ion-item class="ion-text-center">
     <img src="./assets/icon/padlock.png" />
    <ion-input class="info" type="Password"[(ngModel)]="newPassword"></ion-input>
  </ion-item>
  


<ion-button class="edit" (click) = "editInfo()">Save Changes</ion-button>
   
</div>

</ion-content>
