

<ion-content>


    <div id="profile-image-container">
      <img class="profile" src="{{getProfile}}"/>
    </div>
    
  

  <ion-tabs>
    <ion-router-outlet></ion-router-outlet>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon (click) = "main()" name="home"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-icon name="person"></ion-icon>
        Profile
      </ion-tab-button>
      <ion-tab-button (click) = "settings()" tab="settings">
        <ion-icon name="settings"></ion-icon>
        Settings
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <ion-button class="upload" (click) = "takePhoto()">Upload Profile</ion-button>


<div>
  <ion-item>
    <img src="./assets/icon/user.png" />
    <ion-input class="info"  disabled="true">{{username}}</ion-input>
  </ion-item>
   
<br>
  <ion-item>
     <img src="./assets/icon/padlock.png" />
    <ion-input class="info" placeholder="{{password}}"[(ngModel)]="newPassword"></ion-input>
  </ion-item>
</div>

<ion-button class="edit" (click) = "editInfo()">Change Password</ion-button>
   


</ion-content>
