ion-content {
  //--background: linear-gradient(180deg, #4F9B24 25%, #fff 75%);
  --background: none;
  background-image: url('/assets/images/bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}