ion-content {
  --background: none;
  background-image: url('/assets/images/bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


h1{
  color: #5D9C59;
  margin-top: 40px;
  margin-left: 5px;
}

.plant1
{
  background-image: url('/assets/images/plant1.jpg')
}

.plant2
{
  background-image: url('/assets/images/plant2.jpg')
}

.plant3
{
  background-image: url('/assets/images/plant3.jpg')
}

ion-card-subtitle{
  color: rgb(255, 255, 255);
}

ion-card-content{
  color: rgb(255, 255, 255);
}