ion-content {
    //--background: linear-gradient(180deg, #4F9B24 25%, #fff 75%);
    --background: none;
    background-image: url('/assets/images/login.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  ion-input{
    text-indent: 10px;
  color: #0c0c0c;
  border: 1px solid black;
  height: 50px;
  margin-bottom: 5px;
  width: 300px;
  margin-left: 35PX;
  background-color: rgba(246, 246, 246, 0.497);
  border-radius: 10px;
  }


  .loginbtn{
    margin-left: 10%;
    margin-top: 140%;
    width: 300px;


  --background: #498ff1;
  --background-activated:#a3f173;
  --border-radius: 20px;
  --border-color: #a3f17300;
  --border-style: solid;
  --border-width: 1px;
  --padding-top: 10px;
  --padding-bottom: 10px;

  }



  